body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;

}

body div.floating.bottom {
  position: fixed;
  bottom: 10px;
}

.lefts {
  --xyx: translateX(-10px);
  --scale: scale(1);
}

.rights {
  --xyx: translateX(10px);
  --scale: scale(1);
}

.centers {
  --xyx: translateX(0px);
  --scale: scale(.9);
}

.inl {
  display: inline;
  height: fit-content;
}

div.inl.btn {
  background-color: transparent;
  padding: 25px;
  border-radius: 10px;
  transition: all .1s ease-in-out;
}

div.inl.btn.active {
  background-color: rgb(209, 209, 209);
  transform: var(--xyx);

}

div.inl.btn.active.centers {
  transform: var(--scale);
}

div.inl.btn:hover:not(.active) {
  background-color: gainsboro;
}

.floating {
  display: inline-flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 30px;
  -webkit-box-shadow: 9px 13px 32px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 32px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 32px -12px rgba(0, 0, 0, 0.75);
  transition: .2s ease-in-out;
}

.floating:hover {
  -webkit-box-shadow: 9px 13px 61px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 13px 61px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 13px 61px -12px rgba(0, 0, 0, 0.75);

}
.background {
  background: #1f8df4;
  border-radius: 50%;
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.051),
    0 2.3px 5.3px rgba(0, 0, 0, 0.059), 0 4.4px 10px rgba(0, 0, 0, 0.06),
    0 7.8px 17.9px rgba(0, 0, 0, 0.059), 0 14.6px 33.4px rgba(0, 0, 0, 0.059),
    0 35px 80px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  height: 100px;
  position: absolute;
  width: 100px;
  transition: all .25s ease-in-out;
}
